body{
    background-image: url("plane_background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#gros_titre{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: white;
    background-color: rgb(91, 120, 216);
    padding:15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.option_container{
    display: flex;
    margin-right: 300px;
    margin-left: 100px;
}

#div_recherche{
    margin-top: 6%;
    margin-left: 4%;
    margin-right: 8%;
    border-radius: 20px;
    background-color: rgba(250, 235, 215, 0.473);
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

#div_recherche:hover{
    background-color:  rgba(170, 154, 132, 0.473);
}

#image_icone{
    width: 150px;
    height: 150px;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(58, 79, 99);
}

#div_reserver{
    margin-top: 6%;
    margin-left: 8%;
    margin-right: 4%;
    border-radius: 20px;
    background-color: rgba(250, 235, 215, 0.473);
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}


#div_reserver:hover{
    background-color:  rgba(170, 154, 132, 0.473);
}




nav {
    background-color: #456c91be; 
    color: #fff; 
    padding: 20px 0;
    border-radius: 10px;
  }
  
nav ul {
  left: -100%;
  list-style: none;
  margin: 0; 
  padding-left: 20px;
  padding-right: 20px;
  transition: left 0.5s ease-in-out;
}

nav li {
  display: inline-block;
  margin-right: 150px; 
}

nav a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

nav a:hover {
  color: #6b99ca;
}

nav:hover nav ul{
    left: 0;
}


@keyframes title-animation {
    from {
      top: -100%; /* Start from 100% above the container */
      opacity: 0;
      visibility: hidden;
    }
    to {
      top: 50%; /* Animate to 50% (centered) */
      opacity: 1;
      visibility: visible;
    }
  }

#titre_vol{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: white;
    background-color: rgb(73, 97, 175);
    padding:15px;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    width: 250px;
    visibility: hidden;
    animation-name: title-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

#icone_destination{
    height: 100px;
    width: 100px;
}

.destination_container {
    margin-top: 60px;
    margin-left: 8%;
    margin-right: 2.6%;
    display: inline-flex;
    justify-content: space-between;
    visibility: hidden;
    animation-name: title-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.destination_container div{
    margin-right: 100px;
    background-color: rgba(250, 235, 215, 0.473);
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
}

.destination_container div:hover{
    background-color:  rgba(170, 154, 132, 0.473);
}

#titre_reservation{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: white;
    background-color: rgb(73, 97, 175);
    padding:15px;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    width: 450px;
    text-align: center;
    margin-left: 31%;
    margin-right: 30%;
}

.div_formulaire{
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    background-color: #6b99ca85;
    width: 500px;
    height: 600px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: hidden;
    animation-name: title-animation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

input[type="text"] {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold; 
    line-height: 1.5;
    border-radius: 10px;
    width: 350px;
  }

#btn_proceder_paiement{
    height: 40px;
    width: 300px;
    background-color: rgba(6, 185, 51, 0.836);
    border-radius: 10px;
    color: antiquewhite;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#btn_proceder_paiement:hover{
    background-color:  rgba(68, 175, 83, 0.678);
    padding-left: 5px;
    padding-bottom: 5px;
}